
<footer class="main-footer">
    <!--Widgets Section-->

    <div class="widgets-section">
      <div class="container">
        <div class="row">
          <!--Big Column-->

          <article class="big-column col-md-6 col-sm-12 col-xs-12">
            <div class="row clearfix">
              <!--Footer Column-->

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget about-column">
                  <div class="section-title">
                    <h4>About Us</h4>
                  </div>

                  <div class="text">
                    <p>
                      We partner with over 320 amazing projects worldwide,
                      and have given over ₹150 million in cash and product
                      grants to other groups since 2011. We also operate our
                      own dynamic suite of Signature Programs, million in
                      cash and product grants to others
                    </p>
                  </div>

                  <div class="link">
                    <a class="default_link" href="#"
                      >Read More <i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--Footer Column-->

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget link-column">
                  <div class="section-title">
                    <h4>Usefull Links</h4>
                  </div>

                  <div class="widget-content">
                    <ul class="list">
                      <li>
                        <a href="about.html">About Our Humanity</a>
                      </li>

                      <li>
                        <a href="cause-1.html">Recent Causes</a>
                      </li>

                      <li>
                        <a href="volunteer.html">Our Volunteers</a>
                      </li>

                      <li>
                        <a href="#">Our Donators</a>
                      </li>

                      <li>
                        <a href="#">Sponsers</a>
                      </li>

                      <li>
                        <a href="event-1.html">Upcoming Events</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!--Big Column-->

          <article class="big-column col-md-6 col-sm-12 col-xs-12">
            <div class="row clearfix">
              <!--Footer Column-->

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget post-column">
                  <div class="section-title">
                    <h4>Recent Post</h4>
                  </div>

                  <div class="post-list">
                    <div class="post">
                      <a href="#"> <h5>Car show event photos 2015</h5></a>

                      <div class="post-info">March 14, 2017</div>
                    </div>

                    <div class="post">
                      <a href="#"> <h5>Hope Kids Holiday Party</h5></a>

                      <div class="post-info">February 21, 2017</div>
                    </div>

                    <div class="post">
                      <a href="#">
                        <h5>humanity Bikini Car wash photos</h5></a
                      >

                      <div class="post-info">January 15, 2017</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Footer Column-->

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-widget contact-column">
                  <div class="section-title">
                    <h4>Get In Touch</h4>
                  </div>

                  <ul class="contact-info">
                    <li>
                      <i class="icon-arrows"></i><span>Address:</span> 
                      C, 436, Sector 12, Avas Vikas Colony, Agra, Uttar Pradesh 282007
                    </li>

                    <li>
                      <i class="icon-phone"></i> <span>Phone:</span> +91 75059 31351 <br />
                      1800-45-678-9012
                    </li>

                    <li>
                      <i class="icon-back"></i
                      ><span>Email:</span> info&#64;Humanity.com
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer Bottom-->

  <section class="footer-bottom">
    <div class="container">
      <div class="pull-left copy-text">
        <p>
          <a href="#">Copyrights © 2024</a> All Rights Reserved. Powered by
          <a href="#">Attar Singh NGO Wale</a>
        </p>
      </div>
      <!-- /.pull-right -->

      <div class="pull-right get-text">
        <a href="#">Join Us Now!</a>
      </div>
      <!-- /.pull-left -->
    </div>
    <!-- /.container -->
  </section>
  <!-- Scroll Top  -->
  <button class="scroll-top tran3s color2_bg">
    <span class="fa fa-angle-up"></span>
  </button>
  <!-- preloader  -->

  <div class="preloader"></div>

  <div class="donate-popup" id="donate-popup">
    <div class="close-donate theme-btn">
      <span class="fa fa-close"></span>
    </div>

    <div class="popup-inner">
      <div class="container">
        <div class="donate-form-area">
          <div class="section-title center">
            <h2>Donation Information</h2>
          </div>

          <h4>How much would you like to donate:</h4>

          <form action="#" class="donate-form default-form">
            <ul class="chicklet-list clearfix">
              <li>
                <input
                  id="donate-amount-1"
                  name="donate-amount"
                  type="radio"
                />
                <label data-amount="1000" for="donate-amount-1"
                  >₹1000</label
                >
              </li>

              <li>
                <input
                  checked="checked"
                  id="donate-amount-2"
                  name="donate-amount"
                  type="radio"
                />
                <label data-amount="2000" for="donate-amount-2"
                  >₹2000</label
                >
              </li>

              <li>
                <input
                  id="donate-amount-3"
                  name="donate-amount"
                  type="radio"
                />
                <label data-amount="3000" for="donate-amount-3"
                  >₹3000</label
                >
              </li>

              <li>
                <input
                  id="donate-amount-4"
                  name="donate-amount"
                  type="radio"
                />
                <label data-amount="4000" for="donate-amount-4"
                  >₹4000</label
                >
              </li>

              <li>
                <input
                  id="donate-amount-5"
                  name="donate-amount"
                  type="radio"
                />
                <label data-amount="5000" for="donate-amount-5"
                  >₹5000</label
                >
              </li>

              <li class="other-amount">
                <div
                  class="input-container"
                  data-message="Every dollar you donate helps end hunger."
                >
                  <span>Or</span
                  ><input
                    id="other-amount"
                    placeholder="Other Amount"
                    type="text"
                  />
                </div>
              </li>
            </ul>

            <h3>Donor Information</h3>

            <div class="form-bg">
              <div class="row clearfix">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <p>Your Name*</p>
                    <input name="fname" placeholder="" type="text" />
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <p>Email*</p>
                    <input name="fname" placeholder="" type="text" />
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <p>Address*</p>
                    <input name="fname" placeholder="" type="text" />
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <p>Phn Num*</p>
                    <input name="fname" placeholder="" type="text" />
                  </div>
                </div>
              </div>
            </div>

            <ul class="payment-option">
              <li>
                <h4>Choose your payment method:</h4>
              </li>

              <li>
                <div class="checkbox">
                  <label
                    ><input name="pay-us" type="checkbox" />
                    <span>Paypal</span></label
                  >
                </div>
              </li>

              <li>
                <div class="checkbox">
                  <label
                    ><input name="pay-us" type="checkbox" />
                    <span>Offline Donation</span></label
                  >
                </div>
              </li>

              <li>
                <div class="checkbox">
                  <label
                    ><input name="pay-us" type="checkbox" />
                    <span>Credit Card</span></label
                  >
                </div>
              </li>

              <li>
                <div class="checkbox">
                  <label
                    ><input name="pay-us" type="checkbox" />
                    <span>Debit Card</span></label
                  >
                </div>
              </li>
            </ul>
            <div class="center">
              <button class="thm-btn" type="submit">Donate Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>