<style>
    .main404{
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .main404 h1{
        font-weight: 700;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main404">
                <h1 class="fw-bold">404 ERROR</h1><br><br>
                <p class="w-75 pt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam adipisci molestiae, architecto voluptatum officia numquam enim eos rem suscipit molestias amet, soluta quo debitis minima necessitatibus magni sint! Cumque, dicta!</p>
                <br>
                <button class="button" ><a routerLink="/index" class="thm-btn">Back to Website</a></button>
            </div>
        </div>
    </div>
</div>